/* Main measutements and pallette */
:root {
    --number-main-max-width: 1280px;
    --number-menu-image-height: 2rem;
    --number-menu-padding: 24px;
    --number-block-padding: 8px;
    --number-home-padding: 48px;
    --number-layout-title: 50px;
    --number-layout-subtitle: 24px;
    --number-layout-content-padding: 20%;
    --number-layout-modal-title: 75px;
    --number-product-padding: 24px;
    --number-product-logo-height: 2rem;
    --number-solution-padding: 48px;
    --number-layout-faq-title: 36px;
    --number-list-padding: 36px;
    --number-messenger-logo-height: 2rem;
    --number-solutions-grid-gap: 24px;
    --number-solutions-logo-height: 96px;
    --number-solutions-logo-offset: calc(-1*50% + var(--number-solutions-logo-height) * 0.5);
    --number-solutions-card-width: calc((100% - 2 * var(--number-solutions-grid-gap)) /  3);
    --color-theme-main-foreground: var(--primary-text-color);
    --color-theme-main-background: var(--primary-background-color);
    --color-theme-basic-color1: #8611ed;
    --color-theme-basic-color2: #5ff3a0;
    --color-theme-basic-color3: #42d7e2;
    --color-theme-basic-color4: #919191;
    --color-theme-alter-color1: #520794;
    --color-theme-alter-color2: #50e190;
    --color-theme-alter-color3: #fbb844;
    --color-theme-alter-color4: #313131;
    --color-theme-modif-shade1: #fff9;
    --color-theme-modif-shade2: #5ff3a0ff;
    --color-theme-modif-shade3: #50e190ff;
  }