@import '../node_modules/monday-ui-react-core/dist/main.css';
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '//fonts.googleapis.com/css?family=Comfortaa';
@import './styles/custom.css';

#root {
  /*max-width: 1280px;*/
  max-width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  text-align: center;
}